@{
    ViewData["Title"] = "Balance Page";
}



<div class="text-center">
    <h1 class="display-4">Balance</h1>

  


    @ViewBag.statement.Period   <br />
    @ViewBag.statement.InkSaldo <br />
    @ViewBag.statement.Accrued  <br />
    @ViewBag.statement.Paid     <br />
    @ViewBag.statement.OutBalance   <br />

</div>
